$bgColor : red;
$w150 : 150px;
$w100 : 100px;

.container {
    display: flex;
    div {
        margin: 5px;
        &.box1 {
            background-color: $bgColor;
            width: $w150;
            height: $w100;
        }
    }
}

